<div class="container">
  <h1>Psstt! Its a secrett!</h1><br>
  <%= "Welcome #{session[:name]}" if session[:name]%>
  <p> Lets get out</p>

<form action="/users/logout" method="post">
<input type="submit" value="Logout"></input>
</form>
<a href='/'>Back</a>
</div>